@import "vars"
@import "fonts"
@import "libs"
@import "animation"

::selection
	background-color: $accent
	color: #fff

a, button, .btn
    &:focus
        box-shadow: none
        outline: none
    
body
	background-color: #ededed
	min-width: 320px
	position: relative
	line-height: 1.65
	font: $default-font
	font-size: 18px
	overflow-x: hidden
	color: $text
	

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.lh-1
	line-height: 1	
// typography //
@import "_components/_typography"
// /typography //

// static //
@import "_components/_static"
// /static //

// forms //
@import "_components/_forms"
// /forms //		

// buttons //
@import "_components/_buttons.sass"
// /buttons //

// pages //
@import "_components/_pages"
// /pages //

// modals //
@import "_components/_modals"
// /modals //

// aside //
@import "_components/_profile"
// /aside //

// aside //
@import "_components/_aside"
// /aside //
