.aside-info
  &__wrapper
    margin: 0 25px
  &_project-registration
    .aside-info
      &__body
        img
          width: 35px
          height: 35px
        p
          text-align: center
          color: #768a8f
          font: 400 1.333em "Open Sans",sans-serif
    max-width: 245px
  &__head
    h4
      color: #768a8f
      font: 700 1.611em "Open Sans",sans-serif
  &__body
    display: flex
    align-items: center
    justify-content: space-around