.canvas
    &__wrapper
        margin-bottom: 20px
        padding: 0
    &__tip
        margin: 15px 0
        text-align: center
        color: #ddd
        font: 700 1em/1.5 "OpenSans", sans-serif
        p
            margin-bottom: 0