input
	&:focus
		box-shadow: none !important
		outline: none !important
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: #fff

.captcha_img
	margin-bottom: 10px	
.invalid
	text-decoration: underline
	color: #610000
	font-size: 0.7em
	width: 100%
	max-width: 250px
	margin: 5px auto 0 2em

	// @include dr
	// 	font-size: 12px

	// @include lw
	// 	font-size: 10px
	// 	max-width: 175px

.form-control
	&:focus
		box-shadow: none

.form
	&__header
		display: flex
		&-wrapper
			display: flex
			flex-direction: row
			justify-content: flex-end

			@include md
				display: none
				
		.form-group
			margin-bottom: 0
		.input
			&__login
				margin: 0 0.5em
				border-radius: 10px
				border: 2px solid #fff
				background-color: transparent
				width: 145px
				max-width: 100%
				//height: 50px
				font: 400 0.8em/2.2em "OpenSans", sans-serif
				color: #fff
				&::placeholder
					color: #fff

				// @include dr
				// 	margin: 0 5px 
				// 	font-size: 1.2em
				// 	line-height: 1.2em
				// @include lw
				// 	font-size: 0.8em
				// 	line-height: 0.8em
				// 	height: 100%
				// 	max-height: 32px
				// 	width: 96%
				// @include xl
				// 	width: 125px
				// 	font-size: 0.6em
				// 	line-height: 0.6em

	&__modal
		label
			&[for=username], &[for=password], &[for=email]
				font: 700 1em/1em "OpenSans", sans-serif
			&[for=remember]
				font: 400 0.7em/2em "OpenSans", sans-serif
				&:before, &:after
					top: 8px
				&:before
					background-color: #fff
		.custom-checkbox 
			.custom-control-input
				&:checked ~ .custom-control-label
					&:before
						background-color: $accent
						border: 1px solid #fff
				&:focus ~ .custom-control-label
					&:before
						box-shadow: none
						outline: none
		input
			&[type=text],&[type=password], &[type=email]
				border-radius: 10px
				border: 2px solid #fff
				background-color: transparent
				color: #fff
				&::placeholder
					color: #fff
	&__quick-post
		padding-top: 25px
		padding-bottom: 25px
		input[name=message]
			box-shadow: none
			border:	2px solid #ededed
			border-radius: 10px
			padding-right: 95px
			height: auto
			&::placeholder
				font: 400 1.3em/2 "OpenSans", sans-serif
			&:focus
				border:	2px solid $accent
		.quick-post
			&__submit
				border-radius: 7px
				background-color: #ff8250
				font: 400 1em/1 "OpenSans", sans-serif
				text-transform: uppercase
				border: 1px solid #ff8250
				padding: 0.7em 2em
				&:hover
					background: #fff
					color: #ff8250

				// @include dr
				// 	font-size: 1.2em
				// 	padding: 0.5em 1em
				// @include lg
				// 	font-size: 1em

			&__file-input
				margin: 0 5px
				border: 1px solid #ededed
				background: #ededed
				color: #7a7a7a
				font-size: 1em
				line-height: 2
				padding: 0.25em 1.2em
				&:hover
					background: #7a7a7a
					color: #ededed

				// @include dr
				// 	font-size: 1.2em
				// 	padding: 0 0.6em
				// @include lg
				// 	font-size: 1em

			&__preferences
				display: flex
				align-items: center
				margin-top: -10px

				.label-public
					background: #d1d1d1
					font-size: 1em
				.preferences
					&__dropdown
						padding: 5px 10px
						a
							color: #d1d1d1

	&__comment
		position: relative
		.comment
			&-buttons
				position: absolute
				top: 0
				right: 0
			&__input
				box-shadow: none
				border: 2px solid #ededed
				border-radius: 6px
				&:focus
					border: 2px solid $accent
					//box-shadow: inset 0 1px 1px $accent, 0 0 8px $accent
			&__submit
				margin: 4px
				padding: 0.4em 2em
				border-color: #e4e8e9
				background-color: #e4e8e9
				color: #768a8f
				font: 600 0.8em/1.5 "OpenSans",sans-serif
				text-transform: uppercase
				border-color: #e4e8e9
				&:hover
					border-color: #768a8f
					background-color: #768a8f
					color: #e4e8e9
				&:active
					background-color: #768a8f
					color: #e4e8e9
					border-color: #768a8f
			&__upload
				color: #e4e8e9
				border: none
				margin: 2px
				padding: 4px 12px
				&:hover
					color: #768a8f
