.modal
	&__login
		.modal
			&-content
				background: $accent
				color: #fff
			&-header
				border-bottom: none
				position: relative
			.modal-title
				margin: 0 auto
			.close
				position: absolute
				top: 16px
				right: 16px
				float: none
				margin-left: 0

.nav-tabs_modal
	border-bottom-color: #fff
	.nav-link.active
		color: $accent
		border-color: #fff
	.nav-link
		color: #fff