.post__body_photos
  padding: 0
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between

  .big-img
    width: 100%
    margin-bottom: 5px

  .small-img
    max-width: 99px

    @include lg
      max-width: 85px

.medium-photos
  padding: 0
  flex-direction: column
  flex-wrap: wrap
  height: 280px

  @include lg
    max-height: 235px
  .big-img
    width: 67%
    flex: 0 0 100%
    max-height: 280px

  .small-img
    flex: 0 0 48%
    max-width: 100%
    width: 26%

