.post
  padding-top: 40px
  padding-bottom: 40px 
  &__head
    .media
      overflow: unset
      .media-body
          margin-bottom: 0
    h4
      margin-bottom: 0
      a
        color: $accent
        text-decoration: none
        font: 700 1em/1.25 "OpenSans", sans-serif

        // @include dr
        //   font-size: 1.2em
        //   line-height: 1.2

    .time
      color: #768a8f
      font: 400 1em/1.25 "OpenSans", sans-serif
      margin-bottom: 0

      // @include dr
      //   font-size: 1.2em
      //   line-height: 1.2

    .post__avatar
      width: 36px
      height: 36px

      // @include dr
      //   width: 50px
      //   height: 50px

    .chevron-down
      color: #7a7a7a
      font-size: 1em
      &:focus, &:hover, &:active
        background-color: transparent

      // @include dr
      //   font-size: 1em
      //   padding: 0

    .preferences
      .dropdown-menu
        li
          i 
            margin-right: 0.6em
 
  &__body
    padding-left: 0
    padding-right: 0
    color: $text
    font: 400 1em/1.2em "OpenSans", sans-serif

    // @include lg
    //   font-size: 1em
    &_photos
      padding: 0 15px
      width: 100%
      max-width: 1050px
  &__footer
    padding: 0
    .footer-body
      display: flex
      flex-direction: row
      align-items: center
    .post
      &__stat
        color: #7a7a7a
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-right: 40px
        .stat__descr_icon
          display: inline-block
          width: 28px

  &_event
    border-left: 6px solid $accent
    padding-left: 2em
    .post__avatar
      width: 40px
    h4
      margin-bottom: 0
      font-size: 1em
      a
        color: $text
        font: 700 1em/1.5 "OpenSans", sans-serif
    .time
      color: $accent
    &_body
       font: 400 1em/1.5 "OpenSans", sans-serif

  &_file
    border-left: 6px solid $accent
    padding-left: 2em
    .post__avatar
      width: 40px
    h4
      margin-bottom: 0.8em
      font-size: 1em
      line-height: 1
      a
        color: $accent
        font: 700 1em/1 "OpenSans", sans-serif
        text-decoration: underline
    .size
      color: #cdd3d5
      font: 600 1em/1 "OpenSans", sans-serif

.nav .open>.chevron-down, .nav .open>.chevron-down:focus, .nav .open>.chevron-down:hover
  background-color: transparent

.comment-container
  padding: 12px 0 0
  margin-bottom: 0
  background: transparent
  border: none
  box-shadow: none
  .comment
    margin: 12px 0
    &_avatar
      width: 35px
      height: 35px
    &__media
      .media
        &-heading
          margin-bottom: 0
          a
            color: $accent
            text-decoration: none
            font: 700 0.8em/1.25 "OpenSans", sans-serif

        &-body
          .time
            color: #768a8f
            font: 400 0.8em/1.25 "OpenSans", sans-serif
            margin-bottom: 0
    &-message
      margin-top: 1em
      font: 400 0.9em/1.5 "OpenSans", sans-serif