header
	background-color: $accent
	box-shadow: $box-shadow
	padding: $em*1.45/2 0
	

	.navbar
		@media (max-width: 640px)
			padding: 0 10px

.regular-header
	padding: $em*1.111/2 0
	

.logo
	&__wrapper

		@include xxl
			padding-left: 5px
			
			
	&__img

.main-nav
	.nav
		&-link 
			position: relative
			color: #fff
			font: 400 1.2em/1.15em "OpenSans", sans-serif
			padding: 0 0.45em !important

			@include xl
				font-size: 1em 

			&.active
				&:after
					display: block
					content: ""
					position: absolute
					height: 5px
					width: auto
					max-width: 100%
					background: #fff
					bottom: -24px
					right: 8px
					left: 8px

					@include xl
						right: 6px
						left: 6px
.profile
	&__wrapper
		padding: 0
		list-style: none
	&__name
		padding: 0
		color: #fff
		font: 400 1.5em/1.15em "OpenSans", sans-serif
		text-decoration: none

		@include xl
			font-size: 1.2em
	

		&:focus, &:active
			color: #fff
			text-decoration: none
			cursor: pointer
			box-shadow: none
			outline: none
		.caret
      background-size: contain
      background-image: url('../img/icon-dropdown.png')
      width: 18px
      height: 18px
      margin-left: .255em
      border: none
      vertical-align: unset
		&:hover
			color: #fff
			cursor: pointer
			text-decoration: none

			@include xl
				width: 12px
				height: 12px

	&__avatar
		border-radius: 50%
		width: 30px
		height: 30px

		// @include dr
		// 	width: 40px
		// 	height: 40px

	&__dropdown
		border: none
		background: $accent
		color: #fff
		left: auto
		right: 0
		top: 48px
		.dropdown
			&-item
				color: #fff
				&:hover, &:active, &:focus
					background: $text
				i
					margin-right: 1em

// .dropdown-toggle
// 	&::after
// 		background-image: url('../img/icon-dropdown.png')
// 		width: 27px
// 		height: 26px
// 		margin-left: .255em
// 		vertical-align: 0
// 		border: none

.navbar
	&:before, &:after
		display: none	
	border: 0
	border-radius: 0
	margin-bottom: 0
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	&-nav
		&:before, &:after
			display: none
	&.navbar-expand-lg
		&:before, &:after
			display: none
	&-profile
		padding-right: 0

.regular-navbar
  padding: 0
  display: flex
  align-items: center
  flex-direction: row
  justify-content: space-between