header
	background-color: $accent
	box-shadow: $box-shadow
	padding: $em*1.45/2 0 $em*2/2 0

	// @include dr
	// 	padding: $em*1.2 0
	// @include xl
	// 	padding: $em 0

.regular-header
	padding: $em*1.111/2 0
	
	// @include lg
	// 	padding: 1em 0

.logo
	&__wrapper

		// @include md
		// 	padding: 0
			
	&__img
		//width: 125px

		// @include lw
		// 	width: 100%
		// @include md
		// 	width: 96%

.main-nav
	.nav
		&-link 
			position: relative
			color: #fff
			font: 400 0.8em/1.15em "OpenSans", sans-serif
			padding: 0 0.45em !important

			// @include dr
			// 	font-size: 1.4em
			// 	line-height: 2
			// @include lr
			// 	padding: 0 0.5em !important
			// 	font-size: 1.2em
			// 	line-height: 1.65
			// @include lg
			// 	font-size: 1em

			&.active
				&:after
					display: block
					content: ""
					position: absolute
					height: 5px
					width: auto
					max-width: 100%
					background: #fff
					bottom: -26px
					right: 20px
					left: 20px

					// @include lr
					// 	bottom: -32px
					// 	right: 10px
					// 	left: 10px
					// @include lg
					// 	right: 9px
					// 	left: 9px
.profile
	&__wrapper
		padding: 0
		list-style: none
	&__name
		padding: 0
		color: #fff
		font: 400 0.8em/1.15em "OpenSans", sans-serif
		text-decoration: none

		// @include dr
		// 	font-size: 1.2em
		// 	line-height: 1.5
		// @include lg
		// 	font-size: 1em
	

		&:focus, &:active
			color: #fff
			text-decoration: none
			cursor: pointer
			box-shadow: none
			outline: none
		.caret
			background-image: url('../img/icon-dropdown.png')
			width: 27px
			height: 26px
			margin-left: .255em
			border: none
			vertical-align: unset
			// 
			// @include dr
			// 	width: 20px
			// 	height: 20px
			// 	background-size: contain
			// @include lg
			// 	width: 15px
			// 	height: 15px

		&:hover
			color: #fff
			cursor: pointer
			text-decoration: none

	&__avatar
		border-radius: 50%
		width: 30px
		height: 30px

		// @include dr
		// 	width: 40px
		// 	height: 40px

	&__dropdown
		border: none
		background: $accent
		color: #fff
		left: auto
		right: 0
		top: 80px
		.dropdown
			&-item
				color: #fff
				&:hover, &:active, &:focus
					background: $text
				i
					margin-right: 1em

// .dropdown-toggle
// 	&::after
// 		background-image: url('../img/icon-dropdown.png')
// 		width: 27px
// 		height: 26px
// 		margin-left: .255em
// 		vertical-align: 0
// 		border: none

.navbar
	&:before, &:after
		display: none	
	border: 0
	border-radius: 0
	margin-bottom: 0
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	&-nav
		&:before, &:after
			display: none
	&.navbar-expand-lg
		&:before, &:after
			display: none

	// @include lg
	// 		padding: 0

.regular-navbar
	padding: 0
	&.navbar-collapse
		display: flex!important
		align-items: center
		flex-direction: row
		&:before, &:after
			display: none