@import "vars"

header
	background-color: $accent
	box-shadow: $box-shadow
	padding: $em*1.45 0 $em*2 0

	+media-breakpoint-down(desktop-regular)
		padding: $em*1.2 0
	+media-breakpoint-down(xl)
		padding: $em 0

.logo
	&__wrapper

		+media-breakpoint-down(md)
			padding: 0
			
	&__img
		width: 254px

		+media-breakpoint-down(laptop-wide)
			width: 65%
		+media-breakpoint-down(md)
			width: 96%