.header
  &_h1
    color: #fff
    font: 600 2.8em/1.15 "OpenSans",sans-serif
    margin-bottom: 0
    
    // @include dr
    //   font-size: 2.2em
    // @include lw
    //   font-size: 2em
    // @include xl
    //   max-width: 365px
    //   margin: 0 auto
    //   font-size: 1em
    @include md
      max-width: 100%
      font-size: 2.3em
    @include xs
      font-size: 1.7em

  &_p
    color: #fff
    font: 400 1.6em/1.15 "OpenSans",sans-serif
    margin-bottom: 0
    
    // @include dr
    //  font-size: 1.2em
    // @include xl
    //   font-size: 0.8em
    // @include md
    //   font-size: 1.6em
    @include xs
      font-size: 1em
      br
        display: none

  &__create-account
    color: #fff
    font: 700 4.2em/1.15 "OpenSans",sans-serif
    margin-bottom: 0
    
    // @include dr
    //   font-size: 2.1em
    // @include lw
    //   font-size: 1.8em 
    // @include xl
    //   font-size: 1.2em
    @include md
      font-size: 3.1em
    @include xs
      font-size: 2.2em

  &_create-project
    h1
      color: #777