@import "media"

.header
  &_h1
    color: #fff
    font: 600 2.8em/1.15 "OpenSans",sans-serif
    margin-bottom: 0
    
    +media-breakpoint-down(desktop-regular)
      font-size: 2.2em
    +media-breakpoint-down(laptop-wide)
      font-size: 2em

  &_p
    color: #fff
    font: 400 1.6em/1.15 "OpenSans",sans-serif
    margin-bottom: 0
    
    +media-breakpoint-down(desktop-regular)
     font-size: 1.2em
     
  &__create-account
    color: #fff
    font: 700 4.2em/1.15 "OpenSans",sans-serif
    margin-bottom: 0
    
    +media-breakpoint-down(desktop-regular)
      font-size: 2.1em
    +media-breakpoint-down(desktop-regular)
      font-size: 1.8em 